.ui.inverted.button:hover {
    background-color: #ff0b0b !important;
}

.ui.inverted.button:focus {
    background-color: #000000 !important;
}

.ui.inverted.button:hover i {
    color: #ffffff !important;
}

.contact-input {
    margin-bottom: 1em !important;
}